[submodule "themes/almeida-cv"]
	path = themes/almeida-cv
	url = https://github.com/ineesalmeida/almeida-cv.git
[submodule "themes/hugo-resume"]
	path = themes/hugo-resume
	url = git@github.com:eddiewebb/hugo-resume.git
