{{ if .Site.Data.content.BasicInfo.Photo }}
    <div class="sideSection avatar">
        <div class="avatar__container">
            <!-- 自定义照片格式 -->
            <img class="avatar__img" src="{{ .Site.Data.content.BasicInfo.Photo }}" alt="photo of me" style="width: 100%;top: 70%;">
        </div>
    </div>
    <div style="text-align:center;">
        <span class="age">{{ .Site.Data.content.BasicInfo.Age }}</span>
        {{ .Site.Data.content.BasicInfo.Sex }}
     </div>

     <script>
         date = new Date()
         year = date.getFullYear()
         age_element = document.querySelector('.age')
         age_element.innerText = year - age_element.innerText + '岁'
     </script>
{{ end }}