{{ if .Education }}
<div id="education" class="section">
    <div class="section__heading">
        <h2 class="section__title">
            <i class="icon fa fa-graduation-cap" aria-hidden="true"></i>
            {{ i18n "education" }}
        </h2>
    </div>
    <div class="section__content">
        {{ range .Education }}
        <div class="education__container">
            <div class="education__item">
                <h3 class="education__title">{{ .Course | safeHTML }}</h3>
                <h4 class="education__place">{{ .Place | safeHTML }}</h4>
                <h4 class="education__date">{{ .Date | safeHTML }}</h4>
                <div class="education__description">{{ .Details | safeHTML }}</div>
            </div>
            <img src="{{ .Icon | safeHTML }}" style="width:100%;">
        </div>
        {{ end }}
    </div>
</div>
<style>
    .education__container {
        display: grid;
        grid-template-columns: 7fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            ". .";
    }
</style>
{{ end }}
