{{ if .Skills }}
<div class="sideSection">
    <div class="sideSection__heading">
        <h2 class="sideSection__title">
            <i class="icon fa fa-laptop" aria-hidden="true"></i>
            {{ i18n "skills" }}
        </h2>
    </div>
    <div class="sideSection__content">
        <ul class="skills">
            <li>
                {{ range .Skills }}
                <ul class="skills__group">
                    <span>{{ .Family | safeHTML }}</span>
                    {{ range .Items }}
                    <li>{{ . | safeHTML }}</li>
                    {{ end }}
                </ul>
                {{ end }}
            </li>
        </ul>
    </div>
    {{ if .Techniques }}
    <hr style="margin: 5px 0px">
    {{ range .Techniques }}
    {{.Name | safeHTML}}
    <div class="progress__container">
        <div class="w3-light-grey w3-round">
            <div class="w3-container w3-round w3-blue" style="width:{{.Percent}};height:100%;"></div>
        </div>
        &nbsp;
        {{.Handle | safeHTML}}
    </div>

    {{ end }}
    {{ end }}
</div>
<style>
    .progress__container {
        display: grid;
        grid-template-columns: 10fr 5fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            ". .";
        padding-bottom: 5px;
        width: 110%;
    }
</style>
{{ end }}