<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <!-- <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/all.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    {{- $progressCSS := resources.Get "css/progress.css"| minify | fingerprint }}
    <link rel="stylesheet" href="{{$progressCSS.RelPermalink}}">



    {{- $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous" media="screen,print" />

    {{- if .Site.GoogleAnalytics }}
        {{ template "_internal/google_analytics.html" . }}
        {{ template "_internal/google_analytics_async.html" . }}
    {{- end -}}
</head>
<script>
    var styleElem = document.head.appendChild(document.createElement("style"));
    date = new Date()
    year = date.getFullYear()
    styleElem.innerHTML = '.content__left::after{content: "' + year + ' © 梁伟添 | l0v0.com | 粤ICP备19055327号-1";}';
</script>
<style>
    a {
        text-decoration: none;
        color:#92cbdc;
        font-weight: bold;
    }
    a:hover{
        color: coral;
    }
    .icon{
        color:#92cbdc;
    }
</style>